jd-ssm-service/src/main/java/com/jd/ssm/customns/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://yingjie.jd.com/schema/user"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="userName" type="xsd:string"/>
            <xsd:attribute name="sex" type="xsd:int"/>
            <xsd:attribute name="age" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>